@media (width > 768px) {
  html,
  body {
    background-color: var(--color-neutral-blue-700);
    justify-content: center;
    min-height: 100vh;
  }

  .newsletter {
    min-height: calc(3 / 4 * 768px);
    max-width: calc(4 / 6 * 1366px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    border-radius: 20px;
  }

  .cover {
    width: 100%;
    height: calc(3 / 4 * 768px);
    object-fit: cover;
    border-radius: 15px;
    overflow: hidden;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .content-wrapper {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  #email-input:focus {
    outline: 1px solid black;
  }

  .newsletter form button:active {
    background: linear-gradient(90deg, var(--color-primary), #ff6b39);
    box-shadow: 0px 10px 20px rgba(255, 98, 87, 0.5);
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 8px;
    padding: 1rem;
  }

  .newsletter .title {
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 0.6rem;
  }

  .success {
    position: absolute;
    height: fit-content;
    border: none;
    background-color: var(--color-neutral-blue-700);
    z-index: 10;
    padding: 0;
  }

  dialog {
    transition: transform 0s ease;
    transform: translateY(0%);
  }

  .dialog-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .success .content {
    background-color: white;
    position: relative;
    border-radius: 15px;
    width: calc(1 / 3 * 1366px);
    display: flex;
    height: fit-content;
    flex-direction: column;
    padding: 3rem;
    color: var(--color-neutral-blue-800);
  }

  .success .text {
    margin-bottom: 1rem;
    gap: 1rem;
  }

  .success img {
    margin-bottom: 1rem;
  }

  .success button:active {
    background: linear-gradient(45rad, var(--color-primary), #ff6b39);
    border: none;
    box-shadow: 0px 10px 20px rgba(255, 98, 87, 0.5);
  }

  footer {
    background-color: transparent;
    color: white;
  }

  .attribution a {
    color: white;
  }
}
