html,
body {
  position: relative;
  min-width: 100vw;
  min-height: calc(100dvh + 8dvh);
  font: var(--font);
  font-size: 16px; /* 1rem */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: var(--color-neutral-blue-800);
}

.newsletter {
  background-color: white;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.newsletter .content-wrapper {
  padding: 2.2rem 1.5rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.newsletter .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.newsletter .title {
  font-weight: 700;
  font-size: clamp(2rem, 10vw, 2.9rem);
  margin-bottom: 0.6rem;
}

.newsletter ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 1rem;
}

.newsletter ul li {
  display: flex;
  gap: 1rem;
  align-items: start;
  list-style: none;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.input {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--color-neutral-grey);
  margin-bottom: 1rem;
}

.btn {
  transition: transform 0.1s;
}

.btn:hover {
  background-color: hsl(233, 30%, 12%);
}

input:autofill {
  transition: background-color 5000s ease-in-out 0s;
}

.label {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 0.9rem;
}

.label p {
  color: var(--color-primary);
}

.hide {
  display: none;
}

.error {
  border: 1px solid var(--color-primary);
  background-color: rgba(255, 98, 87, 0.1);
  font-weight: 500;
  color: var(--color-primary);
}

.error::placeholder {
  color: var(--color-primary);
  font-weight: 400;
}

.newsletter form button {
  background-color: var(--color-neutral-blue-800);
  color: white;
  font-weight: 500;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
}

.success {
  position: absolute;
  inset: 0;
  height: 100%;
  border: none;
  z-index: 10;
  padding: 0;
}

dialog {
  transition: transform 1s ease;
  transform: translateY(-100%);
}

dialog.animate-in {
  transform: translateY(0);
}

.success .content {
  position: relative;
  display: flex;
  height: 100dvh;
  flex-direction: column;
  padding: 3rem 1.5rem;
  color: var(--color-neutral-blue-800);
}

.success .text {
  justify-content: center;
  gap: 2rem;
  flex: 1;
  line-height: 1.8rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.success img {
  width: fit-content;
}

.success .title {
  font-weight: 700;
  font-size: clamp(2rem, 14vw, 2.9rem);
  line-height: 2.5rem;
}

.success span {
  font-weight: 700;
}

.success button {
  padding: 1rem;
  background-color: var(--color-neutral-blue-800);
  font-weight: 500;
  color: white;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.debug {
  outline: 2px dashed lime;
}

footer {
  background-color: white;
  position: absolute;
  bottom: calc(80vh / 100vh * 20px);
  padding: 0px 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
