/* Start of CSS Resetter */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}
/* End of CSS Resetter */

.debug {
  outline: 1px dashed lime;
}

footer {
  position: absolute;
  bottom: calc(80vh / 100vh * 20px);
  padding: 0px 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: white;
}

:root {
  --color-purple-600: hsl(246, 80%, 60%);

  --color-work: hsl(15, 100%, 70%);
  --color-play: hsl(195, 74%, 62%);
  --color-study: hsl(348, 100%, 68%);
  --color-exercise: hsl(145, 58%, 55%);
  --color-social: hsl(264, 64%, 52%);
  --color-yellow: hsl(43, 84%, 65%);

  --color-navy-950: hsl(226, 43%, 10%);
  --color-navy-900: hsl(235, 46%, 20%);
  --color-purple-500: hsl(235, 45%, 61%);
  --color-navy-200: hsl(236, 100%, 87%);

  --font: 300 1rem "Rubik", Arial;
}
